.displayDate
{
    height:60px;
    width:800px;
    font-size: 28px; 
    color:rgba(15,101,141,.9);
    text-shadow: 0 0 2px rgba(102,102,102,.6);
    letter-spacing: 1.2px;
    margin: 10px;
    /* background: red; */
}