.search,
.menu
{
    height: 100%;
    width: 70px;
    color:rgba(255,255,255,.8);
    cursor: default
}
.search
{
    width: auto
}
.menu
{
    display: none;
    cursor: pointer;
}
.logo img {
    width: 80%;
    height:66%;
    margin: 17% 10%;
}

@media(max-width:768px){
    .menu
    {
        display: flex;
        font-size: 30px;
    }
    .search{
        display: none
    }
}